body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#scholar-name{
  font-size: 30px;
  font-weight: bold;
  color: #097396;
}
#donor-desig{
  font-size: 22px;
  font-weight: normal;
  color: #080808 ;
}
